<div>
  <thc-nav-bar [itemsMenu]="menuNav"></thc-nav-bar>
</div>

<hr>

<div>
  <thc-button class="thc-success" icon="fab fa-times" label="Botão do Fanfarrão"></thc-button>
  <thc-button class="thc-error" label="Tesch Lib Error Button"></thc-button>
  <thc-button class="thc-info" label="Tesch Lib Info Button" icon="fab fa-angular"></thc-button>
  <thc-button class="thc-warning" label="Tesch Lib Warning Button"></thc-button>
  <thc-button label="Tesch Lib Default Button"></thc-button>
</div>
<hr>

<div>
  <div class="alert-section">
    <thc-alert></thc-alert>
  </div>

  <thc-button class="thc-success" icon="fab fa-angular" label="Exibir alert Success" (clicou)="alertSucess()"></thc-button>

  <thc-button class="thc-info" icon="fab fa-angular" label="Exibir alert Info" (clicou)="alertInfo()"></thc-button>

  <thc-button class="thc-warning" icon="fab fa-angular" label="Exibir alert Warning" (clicou)="alertWarning()"></thc-button>

  <thc-button class="thc-error" icon="fab fa-angular" label="Exibir alert Error" (clicou)="alertError()"></thc-button>

  <thc-button class="thc-info" icon="fab fa-angular" label="Exibir alert Autoclose" (clicou)="alertAutoClose()"></thc-button>
</div>
<hr>

<div style="display: flex;">
  <div style="display: flex;">
    <span>Ator 1</span>
    <thc-action-menu [actor]="fakeActor1" [actions]="context_menu" ></thc-action-menu>
  </div>

  <div style="display: flex;">
    <span>Ator 2</span>
    <thc-action-menu [actor]="fakeActor2" [actions]="context_menu" ></thc-action-menu>
  </div>
</div>
<hr>

<!-- <div>
  <thc-infinity-scrooler
    [value]="scroolData?.data"
    (onLazyLoad)="startLoading($event)"
    [page]="scroolData?.current_page"
    [totalPages]="scroolData?.last_page"
    [height]="500"
    [itemListSize]="100"
  >
    <ng-template #templateRef let-data>
      <div style="display: flex;">
        <div style="width: 100px;">
          <img [src]="data.miniatura_url" width="100px" height="100px" alt="">
        </div>
        <div style="display: flex; flex-direction: column;">
          <strong>{{ data.titulo | uppercase }}</strong>
          <span>{{ data.data | date:'dd/MM/yyyy' }}</span>
        </div>
      </div>
    </ng-template>
  </thc-infinity-scrooler>
</div> -->


<div>
  <thc-table
    [value]="scroolData?.data"
    [paginate]="true"
    [page]="scroolData?.current_page"
    [rows]="5"
    [totalRows]="scroolData?.data?.length"
  >
    <ng-template #header>
      <tr>
        <th>
          Titulo
        </th>
        <th>
          Data
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-item>
      <tr>
        <td>{{ item.titulo }}</td>
        <td>{{ item.data | date:'dd/MM/yyyy' }}</td>
      </tr>
    </ng-template>
  </thc-table>
</div>
