$vermelho: #f94144;
$orange-dark: #f3722c;
$orange-light: #f8961e;
$orange: #f9844a;
$amarelo: #f9c74f;
$verde: #43aa8b;
$verde-dark: #4d908e;
$azul-dark: #577590;
$azul: #277da1;
$branco: #F7F4F4;
$sucesso: #22bb33;
$sucesso-opacity: #22bb3399;
$alert: #bb2124;
$alert-opacity: #bb212499;
$warning: #f0ad4e;
$warning-opacity: #f0ad4e99;
$info: #5bc0de;
$info-opacity: #5bc0de99;
$outilne: #57759099;
$bordaredonda: 5px;

body {
  font-family: 'Open Sans' sans-serif;
}

.thc-hidden {
  display: none;
}
