$vermelho: #f94144;
$orange-dark: #f3722c;
$orange-light: #f8961e;
$orange: #f9844a;
$amarelo: #f9c74f;
$verde: #43aa8b;
$verde-dark: #4d908e;
$azul-dark: #577590;
$azul: #277da1;
$branco: #F7F4F4;
$preto: #000;
$sucesso: #22bb33;
$sucesso-opacity: #22bb3399;
$alert: #bb2124;
$alert-opacity: #bb212499;
$warning: #f0ad4e;
$warning-opacity: #f0ad4e99;
$info: #5bc0de;
$info-opacity: #5bc0de99;
$outilne: #57759099;
$bordaredonda: 5px;

$azul-claro: #DFE3E5;
$vermelho-forte: #B72E2E;
$cinza-escuro: #4F4C4C;
$cinza-claro: #F7F4F4;
$cinza-medio: #D9D9D9;

$fonte-link: #0084FF;
$fonte-cinza: #666;
$borda-cabecalho-mobile: #103D4A;
$bg-rodape: #333;
$bg-chamada-mobile: #00161C;

$planos-cartao-start: #56CCF2;
$planos-cartao-ultra: #B04CD9;
$planos-cartao-mega: #E33B3B;

$opensans: 'Open Sans' sans-serif;


body {
  font-family: $opensans;
}

.thc-hidden {
  display: none;
}

.thc-container {
  width: 1680px;
  margin: 0 auto;
}
